---
---
<html>
<head>
    <script src ="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
            type="text/javascript"></script>
    <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"
            type="text/javascript"></script>
<!--
<link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
<script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
-->
  <script>
    $(function() {
        $('pre > code[class^="language-"]')
            .parent()
            .addClass('prettyprint linenums:1');
        window.prettyPrint && 
               prettyPrint();
    });
  </script>
  <style>
    li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
        list-style-type: inherit!important;
    }
    pre.prettyprint {
        padding: 1em 0!important;
    }
  </style>
</head>
<body>

# {{ site.version }}/6

{{ content }}

</body>
</html>
